body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444444;
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.grid-container {
    margin-top: .5em;
    display: grid;
    grid-column: 1;
    grid-row: 2;
    width: 600px;
    height: 600px;
    border: 10px solid #fc3c3cda;
    border-radius: 2px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    width: 100%;
    position: relative;
    background: whitesmoke;
    border: .01px solid rgba(0, 0, 0, .2);
    color: rgba(245, 245, 245, 0);
    transition: .5s;

    cursor: crosshair;
    /* prevent dragging of cells */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tool-bar {
    margin-top: .5 em;
}

button {
    height: 2em;
    width: 4em;
    margin: 1em;
    cursor: pointer;
    font-size: larger;
}

.slider {
    cursor: pointer;
}